@media (max-width: 767px)
{
	.page-top 
	{
		padding-top: 15px;
		padding-bottom: 25px;
	}


	.header__top
	{
		padding-top: 7px;
		padding-bottom: 7px;
	}

	.header__top .header__logo a 
	{
		height: 30px;
	}

	.header__phone
	{
		font-size: 0;
	}

	.header__phone a
	{
		width: 24px;
		height: 24px;
		padding-left: 0;
	}

	.header__phone a::before
	{
		width: 24px;
		height: 24px;
	}

	.header__info-box 
	{
		padding: 10px;
	}

	.header-catalog__open,
	.header-lk__open
	{
		height: 40px;
		width: 40px;
	}

	.header__search-field
	{
		padding-top: 3px;
		padding-bottom: 3px;
	}

	.header__search .header__search-input 
	{
		height: 32px;
	}

	.header__search-submit 
	{
		height: 32px;
		line-height: 32px;
		padding-left: 15px;
		padding-right: 15px;
	}


	.header-lk__box
	{
		padding-top: 7px;
		padding-bottom: 7px;
	}
	
	.header-lk__logo a
	{
		height: 30px;
	}


	.aside-lk
	{
		top: 114px;
		min-height: calc(100vh - 114px);
	}


	.product-info__images
	{
		width: 100%;
		order: 2;

		margin-top: 20px;
	}

	.product-thumbs
	{
		display: none;
	}

	.product-images
	{
		width: 100%;
	}

	.product-images__slider .slider-pagination
	{
		justify-content: center;
	}

	.product-info__info
	{
		width: 100%;
		order: 1;

		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		align-content: flex-end;
		flex-wrap: wrap;
	}

	.product-info__title
	{
		order: 1;
		margin-top: 0;
	}

	.product-info__review
	{
		order: 2;
	}

	.product-info__code
	{
		order: 3;
		margin-top: 10px;
	}

	.product-info__feature
	{
		display: none;
	}


	.product-info__box.product-info__box-tablet
	{
		order: 3;
		margin-top: 20px;
	}

	.product-info__price
	{
		font-size: 18px;
	}

	.product-info__btns
	{
		display: none;
	}


	.informations
	{
		order: 4;
	}

	.informations._marg
	{
		margin-top: 20px;
	}

	.informations__tabs
	{
		display: none;
	}

	.informations .tab-content + .tab-content
	{	
		margin-top: 4px;
	}

	.informations .tab-content
	{
		visibility: visible;
		overflow: visible;
		height: auto;
		opacity: 1;

		border-radius: 8px;
		background: #fff;
		padding-top: 16px;
		padding-bottom: 16px;
	}

	.tabs-accord__open
	{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;

		font-size: 16px;
		line-height: normal;
		position: relative;
		padding: 0 56px 0 16px;
		cursor: pointer;
		font-weight: 600;

		min-height: 32px;
	}

	.tabs-accord__open::after
	{
		position: absolute;
		content: '';
		top: 0;
		right: 16px;

		display: block;

		width: 32px;
		height: 32px;

		border-radius: 50%;
		background: #E8E8EC;
	}

	.tabs-accord__open::before
	{
		position: absolute;
		content: '';
		top: 13px;
		right: 25px;

		display: block;

		width: 14px;
		height: 8px;
		z-index: 1;

		background: url(../images/ic_arrow_acord.svg) 50% no-repeat;
	}

	.informations .tab-content .tabs-accord__open._active::before
	{
		transform: rotate(180deg);
		top: 12px;
	}

	.tabs-accord__data
	{
		display: none;
	}

	.informations__data
	{
		padding: 10px 16px 0;
	}

	.features__feature:first-child 
	{
		padding-top: 5.5px;
		border-top: 1px solid #E8E8EC;
	}

	.documentation__download 
	{
		width: calc(100% / 3 - 20px);
	}

	.product-info__box
	{
		width: 100%;
		margin-top: 44px;
		order: 2;
	}

	.product-info__box + .product-info__box
	{
		margin-top: 44px;
	}

	.product-info__help
	{
		order: 1;
	}


	.contacts__info
	{
		width: 100%;
		order: 1;
		padding: 16px;
	}

	.contacts__item-desc a
	{
		font-size: 18px;
	}

	.contacts__location
	{
		order: 2;
		padding: 16px;
		margin-top: 44px;
	}

	.contacts__tabs
	{
		margin-top: 0;
	}

	.contacts__tabs-btn
	{
		width: 100%;
		margin-top: 0;
	}

	.contacts__map
	{
		margin-top: 20px;
		height: 350px;
	}

	.contacts__help
	{
		order: 3;
		margin-top: 44px;
		width: 100%;
	}


	.inner-action__item 
	{
		width: calc(100% / 1 - 15px);
	}


	.stock__bg
	{
		padding: 16px;
	}


	.text-block h1, .text-block .title
	{
		font-size: 22px;
	}


	.section-cart__top
	{
		flex-wrap: wrap;
	}

	.section-cart__boxl
	{
		width: 100%;
		order: 2;
		margin-top: 16px;
		margin-right: 0;
	}

	.section-cart__boxl-bot
	{
		margin-top: 16px;
	}


	.checkout__coll
	{
		width: 100%;
	}

	.checkout__top
	{
		background: #fff;
		border-radius: 8px 8px 0 0;
		padding: 16px 16px 0;
	}

	.checkout__wrap
	{
		margin-top: 0;
	}

	.checkout__coll
	{
		background: #fff;
		border-radius: 0 0 8px 8px;
		padding: 20px 16px 0;
	}

	.checkout__colr
	{
		width: 100%;
		margin-top: 24px;
	}

	.checkout-help
	{
		margin-top: 44px;
	}


	.cart-empty__bg
	{
		padding-bottom: 260px;
	}

	.cart-empty__img
	{
		top: auto;
		bottom: 0;
		height: 270px;
	}

	.cart-empty__img img
	{
		object-position: 94%;
	}

	.cart-empty .section-cart-search
	{
		margin-bottom: 35px;
	}

	.cart-empty__desc,
	.cart-empty__btn
	{
		margin-top: 16px;
	}


	.execution-plan
	{
		margin-top: 10px;
	}

	.execution-plan__item
	{
		width: calc(100% / 2 - 10px);
	}

	
	.plan-details_marg
	{
		margin-top: 50px;
	}


	.plan-details__item 
	{
		width: calc(100% / 1 - 10px);
	}

	.plan-details__price
	{
		font-size: 32px;
	}


	.personal-data__line
	{
		flex-wrap: wrap;
		gap: 20px;
	}
	
	.personal-data__btns
	{
		width: 100%;
	}

	.personal-data__btns button
	{
		width: 50%;
	}

	.personal-data__edit span
	{
		display: none;
	}


	.modal__title
	{
		font-size: 20px;
	}

	.modal-save
	{
		padding-left: 16px;
		padding-right: 16px;
		padding-bottom: 30px;
	}


	.mini-modal-notif 
	{
		width: 460px;
		padding: 16px;
		right: -34px;
	}

	.mini-modal-notif__name
	{
		font-size: 16px;
	}


	.lk-downloads__item
	{
		width: calc(100% / 2 - 10px);
	}


	.inner-search__bord
	{
		min-width: 1px;
		width: 100%;
	}


	.content-lk__nav
	{
		order: 1;
		margin-left: 0;
		width: 100%;
		padding-bottom: 16px;
	}

	.content-lk__choice-items
	{
		order: 2;
		margin-top: 0;
		width: calc(100% + 20px);
	}

	.content-lk__wrap._border-bot
	{
		border-bottom: none;
	}

	.content-lk__table
	{
		margin-top: 0;
	}

	.lk-table thead
	{
		display: none;
	}

	.lk-table tr + tr
	{
		margin-top: 10px;
	}

	.lk-table tr 
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		padding: 16px;
		border-radius: 8px;
		background: #fff;
		position: relative;
	}

	.lk-table td 
	{
		display: block;
		height: auto;
		padding: 0;
		background: none;
		width: 100%;
		order: 3;

		padding-top: 32px;
		margin-top: 32px;
		border-top: 1px solid #E8E8EC
	}

	.lk-table td:first-child
	{
		padding-left: 0;
		border-radius: 0;
	}

	.lk-table td:last-child
	{
		padding: 0;
		border-radius: 0;
	}

	.lk-table td.lk-table__checkbox-td
	{
		order: 1;
		width: 20px;
		padding-top: 0;
		margin-top: 0;
		border: none;
	}

	.lk-table td.lk-table__show-td
	{
		order: 2;
		width: 24px;
		padding-top: 0;
		margin-top: 0;
		border: none;
	}

	.lk-table td.lk-table__number-td
	{
		padding-left: 0;
	}

	.lk-table td::before 
	{
		content: attr(data-label);
		display: block;
		width: 100%;
		font-size: 12px;
		font-weight: 600;
		line-height: 1.3;
		color: #363B3F;
		margin-bottom: 8px;
	}

	.lk-table td.lk-table__checkbox-td::before,
	.lk-table td.lk-table__show-td::before
	{
		display: none;
	}
    /*------------
		commit
	------------*/
	.cont{
		padding-left: 10px;
		padding-right: 10px;
	}

	._marg{
		margin-top: 44px;
	}

	.main-title {
		font-size: 20px;
	}

	.main-cats__flex {
		margin-left: -8px;
		gap: 8px 0;
	}

	.main-cats__item {
		width: calc(100% / 2 - 8px);
		margin-left: 8px;

		font-size: 14px;
		line-height: 1.25;
	}

	.become-partner__flex{
		flex-wrap: wrap;
		margin-top: 16px;
	}

	.become-partner__coll{
		width: 100%;
		order: 2;
		padding: 16px;
	}

	.become-partner__text{
		margin-top: 32px;
		font-size: 16px;
	}

	.become-partner__colr{
		width: 100%;
	}

	.become-partner .video{
		aspect-ratio: 1;
	}


	.become-partner__items{
		margin-top: 6px;
	}

	.become-partner__item {
		margin-top: 8px;
		width: calc(100% / 1 - 10px);
	}


	.products__slider{
		margin-top: 16px;
	}

	.main-action__slider{
		margin-top: 16px;
	}


	.swiper-overflow{
		overflow: visible;
	}

	.swiper-slide.product{
		width: 268px;
	}

	.slider-button-next,
	.slider-button-prev{
		display: none;
	}


	.main-action__slider{
		padding: 0 11px;
	}

	.main-action__slide{
		width: 332px;
	}


	.brands__flex {
		margin-top: 16px;
		margin-left: -8px;
		row-gap: 8px;
	}

	.brands__item {
		width: calc(100% / 3 - 8px);
		margin-left: 8px;
	}


	.section-news__flex {
		margin: -16px 0 0 -8px;
	}

	.section-news__item {
		margin-left: 8px;
		width: calc(100% / 2 - 8px);
	}

	
	.section-faq__flex{
		margin-top: 16px;
		flex-wrap: wrap;
	}

	.section-faq__colr{
		width: 100%;
	}


	.section-subscribe__box{
		min-height: 1px;
	}

	.agree-text{
		margin-top: 16px;
	}


	.product__price {
		font-size: 20px;
	}

	.product__old-price {
		font-size: 20px;
	}


	.products__grid {
		--product_marg: 8px;
		row-gap: 8px;
		--products_count: 2;
	}


	.aside{
		padding-top: 10px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.filter__bot{
		padding-left: 10px;
		padding-right: 10px;
	}


	.product-item__img {
		width: 100px;
		height: 100px;
	}


	.footer__coll{
		width: 100%;
	}

	.footer__menu{
		width: 100%;
	}

	.footer__copy{
		width: 100%;
	}

	.footer__creator{
		width: 100%;
	}

	.footer__link{
		order: 0;
		width: 100%;
	}

	.form__submit{
		margin-top: 16px;
	}

	.footer .form__submit-btn{
		width: 100%;
	}

	.footer__info{
		margin-top: 16px;
	}


	.footer__links 
	{
		width: calc(100% - 10px);
	}

	.footer__lk .footer__link
	{
		order: 1;
	}

	.footer__lk .footer__links
	{
		order: 2;
		margin-top: 30px;
	}

	.footer__lk .footer__creator
	{
		order: 3;
		margin-top: 30px;
	}

	.footer__lk .footer__copy
	{
		order: 4;
		margin-top: 30px;
	}
}