@media (max-width: 1319px)
{
	.header-catalog 
	{
		margin-left: 25px;
	}

	.header-catalog__open 
	{
		padding-right: 15px;
		padding-left: 40px;
	}

	.header-catalog__open-btn
	{
		left: 10px;
	}

	.header__search .header__search-input 
	{
		font-size: 14px;
		padding: 0 10px;
	}

	.header__search-submit 
	{
		font-size: 14px;
		line-height: 40px;
		padding: 0 18px;
	}

	.header__btn + .header__btn 
	{
		margin-left: 18px;
	}

	.header-catalog__wrap
	{
		gap: 30px;
	}


	.product-info__images
	{
		width: calc(55% - 10px);
	}

	.product-info__info 
	{
		width: calc(45% - 10px);
	}

	.product-info__info .features__feature-name
	{
		width: 190px;
	}


	.informations__data
	{
		padding: 30px;
	}

	.documentation__download
	{
		width: calc(100% / 5 - 20px);
	}


	.cart-table th
	{
		padding-left: 12px;
	}

	.cart-table td
	{
		padding-left: 12px;
	}

	.cart-table__info
	{
		width: 320px;
	}

	.cart-table__img
	{
		width: 68px;
		height: 68px;
	}

	.cart-table__box 
	{
		width: calc(100% - 78px);
	}

	.cart-table__delete
	{
		padding-right: 12px;
		width: 48px;
	}

	.cart-table__delete-btn,
	.cart-table__delete-btn svg
	{
		width: 24px;
		height: 24px;
	}


	.checkout__coll 
	{
		width: calc(100% - 400px);
	}

	.checkout__colr 
	{
		width: 370px;
	}
	

	.header-lk__search 
	{
		width: 190px;
		margin-left: 15px;
		margin-right: 0;
	}

	.header-lk__search .header-lk__search-input
	{
		padding-left: 4px;
		padding-right: 4px;
	}

	.header-lk__search-submit
	{
		padding-left: 6px;
		padding-right: 6px;

		margin-left: 5px;
	}

	.header-lk__link
	{
		font-size: 12px;
	}

	.header-lk__link-icon
	{
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}

	.header-lk__item-link + .header-lk__item-link 
	{
		margin-left: 10px;
	}

	.header-lk__phone::before
	{
		width: 17px;
		height: 17px;
	}

	.header-lk__btns
	{
		margin-left: 0;
	}


	.plan-details__price
	{
		font-size: 28px;
	}

	.execution-plan__percent
	{
		font-size: 30px;
	}


	.personal-data__line
	{
		gap: 10px;
	}

	.personal-data__btns button
	{
		padding-left: 20px;
		padding-right: 20px;
	}



	.content-lk__search
	{
		width: 50%;
	}


	.lk-downloads__grid
	{
		margin-left: -10px;
		margin-top: 10px;
	}

	.lk-downloads__item 
	{
		width: calc(100% / 4 - 10px);
		margin-left: 10px;
		margin-top: 10px;
	}

	.lk-downloads__name
	{
		font-size: 14px;
	}

	.lk-table__actions-btn a
	{
		padding-left: 10px;
		padding-right: 10px;
	}


	.content-lk__top-boxr
	{
		flex-wrap: wrap;
		gap: 15px;
	}

	/*------------
		commit
	------------*/
	.aside {
		width: calc(100% / 4 - 20px);
	}

	.content {
		width: calc(100% - 100% / 4 - 20px);
	}

	.products__grid {
		--products_count: 3;
	}

	.products-list__head-name:nth-child(2){
		width: 70px;
	}

	.products-list__head-name:nth-child(3){
		width: 86px;
	}

	.product-item__flex{
		flex-wrap: wrap;
	}

	.product-item__col:nth-child(2){
		width: 70px;
	}

	.product-item__col:nth-child(3){
		width: 86px;
	}
}