@media (max-width: 1023px)
{
	.wrap 
	{
		padding-bottom: 58px;
	}

	.wrap-product
	{
		padding-bottom: 130px;
	}


	.header__top
	{
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.header__top .header__logo
	{
		display: block;
	}

	.header__adres
	{
		margin-left: 16px;
	}

	.header__list
	{
		display: none;
	}

	.header__phone
	{
		margin-left: auto;
	}


	.header__info-box
	{
		padding: 15px;
	}

	.header__info
	{
		margin-top: 10px;
	}

	.header__info .header__logo
	{
		display: none;
	}

	.header-catalog
	{
		margin-left: 0;
	}

	.header-catalog__open
	{
		font-size: 0;
		height: 46px;
		width: 46px;
		padding: 0;
	}

	.header-catalog__open-btn
	{
		left: 50%;
		margin-left: -12px;
	}
	
	.header__search
	{
		margin-right: 0;
		max-width: 100%;
		width: calc(100% - 56px);
	}

	.header__search-field
	{
		padding: 4px;
	}

	.header__search .header__search-input
	{
		height: 36px;
	}

	.header__search-submit
	{
		height: 36px;
		line-height: 36px;
	}

	.header__btns
	{
		position: fixed;
		z-index: 70;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 10px 15px;
		background: #fff;
		border-radius: 8px 8px 0 0;

		justify-content: space-around;
	}

	.header__btns::after
	{
		position: absolute;
		content: '';
		top: 2px;
		left: 2px;

		display: block;

		width: calc(100% - 4px);
		height: calc(100% - 2px);
		border-radius: 8px 8px 0 0;

		background: #E7E7E7;
	}

	.header__btn + .header__btn
	{
		margin-left: 0;
	}

	.header__btn
	{
		order: 2;
	}

	.header__btn-first-mob
	{
		order: 1;
	}

	.header-catalog__block{
		background: #F5F7FA;
		padding: 15px 0;
		margin-top: 0;
		min-height: calc(100vh - 110px);
		box-shadow: 0 10px 10px rgba(0,0,0,.05);
	}

	.header-catalog__wrap
	{
		padding: 0;
	
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 0;
		background: none;
		border-radius: 0;
		box-shadow: none;
	}

	.header-menu
	{
		width: 100%;
		background: #fff;
		border-radius: 8px;
		overflow: hidden;
		padding: 16px;
	}

	.header-menu__link._active{
		background-color: transparent;
	}

	.header-menu__link._active .header-menu__link-icon svg{
		fill: currentColor;
	}

	.header-catalog__submenu{
		background: #fff;
		padding: 16px;
		border-radius: 8px;
	}

	.header-catalog__block._active .header-catalog__submenu{
		display: none;
	}

	.header-catalog__block._show-inner .header-catalog__submenu{
		display: block;
	}

	.header-catalog__block._show-inner .header-menu,
	.header-catalog__block._show-inner .header-catalog__banner{
		display: none;
	}

	.header-catalog__banner
	{
		width: 355px;
		max-width: 100%;
		margin-top: 25px;
	}


	.breadcrumbs
    {
        overflow: hidden;
        overflow-x: auto;

        width: calc(100% + 80px);
        margin-right: -40px;
        margin-left: -40px;
        padding-right: 40px;
        padding-left: 40px;

        white-space: nowrap;
    }

    .breadcrumbs::-webkit-scrollbar
    {
        display: none;
    }


	.product-info__coll
	{
		width: 100%;
	}

	.product-info__colr
	{
		width: 100%;

		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
	}

	.product-info__box
	{
		width: calc(50% - 5px);
		margin-top: 10px;
	}

	.product-info__box:first-child
	{
		width: 100%;
	}

	.product-info__box-fixed
	{
		position: fixed;
		z-index: 70;
		bottom: 56px;
		left: 0;
		width: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;

		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;

		border-radius: 6px 6px 0 0;
	}

	.product-info__box-fixed .product-info__stock,
	.product-info__box-fixed .product-info__link,
	.product-info__box-fixed .product-info__discount
	{
		display: none;
	}
	
	.product-info__box-tablet
	{
		display: block;

		margin-top: 30px;
		margin-left: auto;
	}

	.product-info__buy
	{
		margin-top: 0;
		margin-left: 0;
	}

	.product-info__buy-box
	{
		margin-top: 0;
	}

	.product-info__btns
	{
		margin-top: 0;
	}

	.informations__data 
	{
		padding: 20px;
	}


	.contacts__info 
	{
		padding: 20px;
		width: calc(58% - 10px);
	}

	.contacts__help 
	{
		width: calc(42% - 10px);
	}

	.contacts__item-adres,
	.contacts__item-phone,
	.contacts__item-mail
	{
		width: 100%;
	}

	.contacts__location
	{
		padding: 20px;
	}

	.contacts__map
	{
		margin-top: 30px;
	}


	.inner-action__grid
	{
		margin-top: 5px;
	}

	.inner-action__item
	{
		width: calc(100% / 2 - 15px);
	}



	.text-block h1, .text-block .title
	{
		font-size: 26px;
	}


	.section-cart__delete 
	{
		margin-left: 30px;
	}

	.section-cart-search .section-cart-search__input
	{
		font-size: 14px;
	}
	

	.section-cart__boxl
	{
		margin-right: 20px;
	}

	.section-cart__action-link
	{
		padding: 8px;
	}


	.cart-table thead
	{
		display: none;
	}

	.cart-table tr 
	{
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		align-content: stretch;
		flex-wrap: wrap;
		gap: 0 10px;

		padding: 16px;
		border-radius: 8px;
		background: #fff;

		position: relative;
	}

	.cart-table tr + tr
	{
		margin-top: 16px;
	}

	.cart-table tr::after {
		content: "";
		flex-basis: 100%;
		width: 0;
		height: 0;
		order: 6;
	}

	.cart-table td 
	{
		display: block;
		height: auto;
		padding: 0;
		background: none;

		font-size: 14px;
	}

	.cart-table td:first-child
	{
		padding-left: 0;
		border-radius: 0;
	}

	.cart-table__info
	{
		width: 100%;
		order: 1;
	}

	.cart-table__info-wrap
	{
		padding-left: 0;
	}

	.cart-table__checkbox
	{
		top: 10px;
		left: 10px;
		z-index: 2;
	}

	.cart-table__img
	{
		width: 120px;
		height: 120px;
		border-color: #E8E8EC;
	}

	.cart-table__box 
	{
		width: calc(100% - 130px);
		margin-left: 10px;

		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
	}

	.cart-table__cod
	{
		margin-top: 0;
		width: 100%;
	}

	.cart-table__name
	{
		margin-top: 10px;
		order: 2;
	}

	.cart-table td
	{
		white-space: inherit;
	}

	.cart-table td.cart-table__mob-none
	{
		display: none;
	}

	.cart-table__total span
	{
		display: inline-block;
	}

	.cart-table td:last-child
	{
		border-radius: 0;
	}

	.cart-table__status-mob
	{
		display: block;
	}

	.cart-table__status
	{
		order: 2;
		width: 100%;
		margin-top: 10px;
	}

	.cart-table td.cart-table__status
	{
		display: none;
	}

	.cart-table td.cart-table__min-val
	{
		order: 3;

		border-radius: 6px;
		padding: 10px;
		background: #F5F7FA;

		margin-top: 10px;

		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
	}

	.cart-table td.cart-table__remainder
	{
		order: 4;

		border-radius: 6px;
		padding: 10px;
		background: #F5F7FA;

		margin-top: 10px;
	}

	.cart-table td.cart-table__val
	{
		order: 5;

		border-radius: 6px;
		padding: 10px;
		background: #F5F7FA;

		margin-top: 10px;
	}

	.cart-table td.cart-table__date
	{
		order: 6;

		border-radius: 6px;
		padding: 10px;
		background: #F5F7FA;

		margin-top: 10px;
	}

	.cart-table__total
	{
		order: 7;
		
		display: flex;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;

		margin-top: 10px;
		margin-left: 10px;
	}

	.cart-table__amount-td
	{
		order: 8;
		
		display: flex;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;

		margin-top: 10px;
		margin-left: 10px;
		margin-right: auto;
	}

	.cart-table td.cart-table__min-val::before
	{
		content: attr(data-label);
		display: block;
		font-size: 12px;
		line-height: 1.3;
		color: #6E7277;
		margin-bottom: 4px;
		margin-right: 10px;
		width: 55px;
	}

	.cart-table td.cart-table__remainder::before,
	.cart-table td.cart-table__val::before,
	.cart-table td.cart-table__date::before
	{
		content: attr(data-label);
		display: block;
		width: 100%;
		font-size: 12px;
		line-height: 1.3;
		color: #6E7277;
		margin-bottom: 4px;
	}

	.cart-table__delete
	{
		order: 9;
		
		display: flex;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;

		margin-top: 10px;
		margin-left: 10px;

		width: 44px;
		height: 44px;
	}

	.cart-table__delete-btn
	{
		width: 44px;
		height: 44px;

		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;

		border-radius: 6px;
		padding: 5px;
		background: #F5F7FA;
	}



	.checkout__info
	{
		padding: 58px 16px 16px;
	}

	.checkout__info::before
	{
		top: 16px;
		left: 16px;
	}

	.form__flex .form__line.form__line-small,
	.form__flex .form__line.form__line-middle
	{
		width: calc(100%/1 - 10px);
	}

	.checkout-total__price 
	{
		font-size: 28px;
	}


	.cart-empty__bg
	{
		padding: 20px;
	}

	.cart-empty__box
	{
		min-height: 1px;
	}
    /*------------
		commit
	------------*/
	body{
		font-size: 14px;
	}

	._marg {
		margin-top: 50px;
	}

	.main-title{
		font-size: 24px;
	}

	.main-cats__flex{
		gap: 16px 0;
		margin-left: -16px;
	}

	.main-cats__item {
		width: calc(100% / 3 - 16px);
		margin-left: 16px;
	}

	.main-cats__item {
		font-size: 16px;
	}

	.become-partner__text {
		font-size: 14px;
		margin-top: 20px;
	}

	.become-partner__coll {
		padding: 20px;
	}

	.become-partner__flex{
		margin-top: 20px;
	}


	.become-partner__items{
		margin-top: 10px;
	}

	.become-partner__item{
		padding: 16px;
	}

	.become-partner__name{
		font-size: 14px;
	}

	.become-partner__desc{
		font-size: 12px;
	}

	
	.products__slider{
		margin-top: 20px;
	}


	.main-action__slider{
		margin-top: 20px;
	}


	.brands__flex{
		margin-top: 20px;
		margin-left: -16px;
		row-gap: 16px;
	}

	.brands__item {
		width: calc(100% / 4 - 16px);
		margin-left: 16px;
	}


	.section-news__flex {
		margin: -12px 0 0 -16px;
	}

	.section-news__item {
		margin-left: 16px;
		width: calc(100% / 3 - 16px);
	}
	
	.section-news__date{
		margin-top: 16px;
	}

	.section-news__name{
		font-size: 14px;
		margin-top: 10px;
	}

	.section-news__desc{
		font-size: 12px;
		margin-top: 4px;
	}

	.section-faq__flex{
		margin-top: 20px;
		gap: 16px;
	}

	.accordion__open {
		font-size: 16px;
		padding: 16px;
		gap: 16px;
		min-height: 64px;
	}

	.accordion__open-arrow{
		width: 32px;
		height: 32px;
	}

	.accordion__data{
		padding: 0 16px 16px;
	}

	.section-faq__colr {
		width: 32%;
		padding: 16px;
	}

	.section-faq__title {
		font-size: 16px;
	}

	/* .section-faq__colr{
		width: 100%;
	} */

	.section-subscribe__bg{
		padding: 20px;
	}

	.section-subscribe__box{
		min-height: 170px;
	}


	.content-flex{
		margin-left: 0;
	}

	._look-filter{
		overflow: hidden;
	}

	.aside {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #F5F7FA;
		margin: 0;
		padding: 20px 15px;
		overflow: hidden;
		overflow-y: auto;
		z-index: 99;

		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: opacity .2s linear, visibility .2s linear;
	}

	.aside._show{
		opacity: 1;
		visibility: visible;
		pointer-events: auto;	
	}

	.aside-top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		background: #fff;
		border-radius: 8px;
		padding: 8px;
		gap: 16px;
		margin-bottom: 10px;
	}

	.aside-top__title{
		font-size: 14px;
		line-height: 1.3;
	}

	.aside-top__close{
		width: 32px;
		height: 32px;
		border-radius: 6px;
		background: #F52121;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		color: #fff;
	}

	.aside-top__close svg{
		width: 24px;
		height: 24px;
		fill: currentColor;
	}

	.aside-cats__bg{
		background: #fff;
		border-radius: 8px;
	}

	.aside-cats__title{
		background: #E8E8EC;
		border-radius: 8px 8px 0 0;
		height: 56px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		padding: 0 48px;
		cursor: pointer;
	}

	.aside-cats__title::before{
		top: 16px;
		left: 16px;
	}

	.aside-cats__title-arrow{
		position: absolute;
		top: 50%;
		right: 16px;
		margin-top: -8px;
		width: 16px;
		height: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
	}

	.aside-cats__title._active .aside-cats__title-arrow{
		transform: rotate(180deg);
	}

	.aside-cats__title-arrow svg{
		display: block;
		width: 14px;
    	height: 8px;
		fill: none;
		stroke: currentColor;
	}

	.aside-cats__menu{
		padding: 20px 16px 0;
		margin-top: 0;
		border-top: none;
		display: none;
	}

	.filter{
		padding: 0 16px 126px;
	}

	.range{
		max-width: none;
	}
	
	.filter-show{
		display: none;
	}

	.filter__bot{
		position: fixed;
		left: 0;
		bottom: 0;
		background: #F5F7FA;
		width: 100%;
		padding: 0 15px 20px;
		margin-top: 0;
		z-index: 10;
	}

	.filter__bot-btns{
		background: #fff;
		padding: 16px 16px 16px;
		border-radius: 0 0 8px 8px;
	}

	.aside-info{
		display: none;
	}

	.content {
		width: 100%;
		margin-left: 0;
	}

	.products_marg{
		margin-top: 16px;
	}

	.products__grid{
		--product_marg: 16px;
		row-gap: 16px;
	}

	.categories{
		flex-wrap: nowrap;
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		padding-left: 15px;
		padding-right: 15px;
		overflow: hidden;
		overflow-x: auto;
		order: 3;
	}

	.categories::-webkit-scrollbar{
		display: none;
	}

	.catalog-head__found{
		display: none;
	}

	.catalog-head__main-title{
		width: calc(100% - 86px);
	}

	.sorting{
		gap: 10px;
		width: 66px;
		background: #fff;
		border-radius: 6px;
		padding: 4px;
	}

	.sorting__name{
		display: none;
	}

	.sorting .select-wrap{
		width: 24px;
	}

	.sorting .select-wrap .nice-select .current{
		font-size: 0;
		width: 100%;
		height: 24px;
		border-radius: 0;
		border: none;
		padding: 0;
	}

	.sorting .select-wrap .nice-select .current:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url(../images/ic_sort.svg) 50% no-repeat;
	}

	.sorting .select-wrap .nice-select.open .current:before{
		background-image: url(../images/ic_sort_a.svg);
	}

	.sorting .select-wrap .nice-select .current:after{
		display: none;
	}

	.sorting .select-wrap .nice-select.open .list{
		width: 284px;
		left: auto;
		right: -38px;
	}

	.open-filter{
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		width: 24px;
		height: 24px;
		color: #363B3F;
	}

	.open-filter svg{
		display: block;
		width: 100%;
		height: 100%;
		fill: currentColor;
	}

	.views{
		display: none;
	}


	.catalog-head{
		gap: 16px;
	}

	.pagination{
		margin-top: 16px;
	}


	.footer{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.footer__coll{
		width: calc(44% - 16px);
	}

	.footer__menu{
		width: calc(56% - 16px);

		gap: 32px 24px;
	}

	.footer__menu-col{
		width: calc(50% - 12px);
	}

	.footer__colr{
		width: 100%;
	}

	.footer__bot{
		padding-top: 31px;
		margin-top: 32px;
	}

	.footer__copy{
		width: calc(50% - 10px);
	}

	.footer__creator{
		width: calc(50% - 10px);
	}

	.footer__link{
		order: 2;
		width: calc(50% - 10px);
	}
}