@media (max-width: 479px)
{
	.text-block h1, .text-block .title
	{
		font-size: 20px;
	}

	.text-block h2
	{
		font-size: 16px;
	}

	.header__top .header__logo a,
	.header-lk__logo a
	{
		height: 23px;
	}

	.product-info__title
	{
		font-size: 16px;
		line-height: 1.3;
	}

	.product-images__img-wrap
	{
		padding: 10px;
	}

	.product-images__img
	{
		height: 355px;
	}

	.product-images__slider .slider-pagination
	{
		bottom: 10px;
	}

	.product-images .product__stickers 
	{
		top: 10px;
		left: 10px;
	}

	.features__feature
	{
		font-size: 12px;
	}

	.features__feature-name 
	{
		width: 190px;
		padding-right: 10px;
	}

	.documentation__download 
	{
		width: calc(100% / 2 - 20px);
	}


	.product-info__box
	{
		padding: 16px;
	}

	.product-info__box-fixed
	{
		padding-bottom: 20px;
	}

	.product-info__box.product-info__box-tablet
	{
		padding: 20px;
	}

	.product-info__box-tablet .product-info__discount
	{
		margin-top: 20px;
	}


	.product-info__btns
	{
		display: none;
	}

	.product-info__price
	{
		font-size: 16px;
	}

	.product-info__cart a
	{
		font-size: 0;
		padding: 0;
		width: 44px;
		height: 44px;
		line-height: 0;

		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
	}

	.product-info__cart svg
	{
		width: 24px;
		height: 24px;
		display: block;
		fill: #fff;
	}


	.product-info__buy-box
	{
		align-items: center;
		align-content: center;
	}

	.product-info__amount
	{
		width: 65px;
		height: 32px;
		background: #F5F7FA;
	}

	.product-info__amount .amount__btn
	{
		height: 30px;
		width: 17px;
	}

	.product-info__amount .amount__btn::before
	{
		margin-left: -3px;
	}

	.product-info__amount .amount__btn.amount__btn_plus::before 
	{
		margin-left: -5px;
	}

	.product-info__amount .amount__btn_plus::after
	{
		margin-left: -2px;
	}

	.product-info__amount .amount__input
	{
		width: calc(100% - 34px);
		font-size: 14px;
	}

	.product-info__buy-text
	{
		display: block;
	}

	.product-info__cart
	{
		margin-left: 36px;
	}
	

	.contacts__item-desc a
	{
		font-size: 16px;
	}


	.page-top
	{
		padding-bottom: 15px;
	}
	


	.inner-action__wrap .btn-bord
	{
		order: 3;
		margin: 16px auto 0;
	}

	.inner-action__grid
	{
		margin-top: 8px;
	}

	.inner-action__item
	{
		margin-top: 8px;
	}


	.section-cart__action-link
	{
		width: 40px;
		height: 40px;

		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
	}

	.section-cart__action-name
	{
		display: none;
	}

	.cart-table_marg
	{
		margin-top: 14px;
	}

	.checkout__colr
	{
		margin-top: 10px;
	}

	.checkout-total
	{
		padding: 16px;
	}

	.checkout-total__price
	{
		font-size: 20px;
		font-weight: 700;
	}


	.cart-empty__bg
	{
		padding-bottom: 344px;
	}

	.cart-empty__img img 
	{
		object-position: 87%;
	}


	.aside-lk 
	{
		top: 108px;
		min-height: calc(100vh - 108px);
	}


	.execution-plan__circle
	{
		width: 121px;
	}

	.execution-plan__percent
	{
		font-size: 20px;
		font-weight: 700;
	}


	.plan-details__item_big
	{
		flex-wrap: wrap;
	}

	.plan-details__item-box
	{
		width: 100%;
	}

	.plan-details__title
	{
		font-size: 14px;
	}

	.plan-details__title b
	{
		font-size: 14px;
		font-weight: 400;
	}

	.plan-details__title br
	{
		display: none;
	}

	.plan-details__item-block
	{
		width: 100%;
		margin-top: 8px;
		text-align: left;
	}

	.plan-details__item-block .plan-details__title
	{
		margin-bottom: 0;
	}


	.form__title
	{
		font-size: 16px;
	}

	.change-password .form__submit-btn
	{
		width: 100%;
	}

	.modal-save
	{
		padding-bottom: 16px;
	}

	.modal-save__flex button
	{
		width: 100%;
	}


	.mini-modal-notif 
	{
		width: 355px;
	}

	.mini-modal-notif__close
	{
		margin-top: 10px;
	}


	.content-lk__chekbox-items
	{
		display: block;
		margin-left: 0;

		columns: 2;
		column-gap: 24px;
	}

	.content-lk__chekbox-item
	{
		margin-left: 0;
		margin-top: 0;
		break-inside: avoid;
		padding-top: 20px;
	}


	.lk-downloads__item 
	{
		width: calc(100% / 1 - 10px);
		padding: 20px;
	}

	.lk-downloads__name 
	{
		font-size: 16px;
	}


	.content-lk__choice-item
	{
		width: calc(100%/2 - 20px);
	}

	.content-lk__choice-item_big{
		width: calc(100% - 20px);
	}
    /*------------
		commit
	------------*/
	.section-news__item {
		margin-left: 8px;
		width: calc(100% - 8px);
	}


	.section-subscribe__bg{
		padding: 16px;
		background-position: 56% 50%;
	}

	.section-subscribe__box{
		max-width: 323px;
	}

	.cart-table tr::before {
		content: "";
		flex-basis: 100%;
		width: 0;
		height: 0;
		order: 5;
	}

	.form__one{
		gap: 8px;
		flex-wrap: wrap;
	}

	.form__one .form__submit{
		width: 100%;
	}

	.form__one .form__submit-btn{
		width: 100%;
	}


	.products__grid .product__pad {
		padding: 8px 8px;
	}

	.products__grid .product__btns {
		right: 6px;
		top: 8px;
	}

	.products__grid .product__stickers {
		top: 4px;
		left: 8px;
	}

	.product-item__flex{
		padding-right: 0;
		flex-wrap: wrap;
	}

	.product-item__img{
		width: 100%;
		height: auto;
		aspect-ratio: 1;
		border-color: #E8E8EC;
	}

	.product-item__code{
		margin-top: 10px;
	}

	.product-item__stickers{
		position: absolute;
		left: 10px;
		top: 10px;
		width: calc(100% - 136px);
	}

	.product-item__btns{
		top: 26px;
		right: 26px;
	}


	.footer__menu-col{
		width: 100%;
	}
}