@media (max-width: 1199px)
{

	.product-info__coll 
	{
		width: calc(68% - 10px);
	}

	.product-info__colr 
	{
		width: calc(32% - 10px);
	}

	.product-info__images 
	{
		width: calc(50% - 10px);
	}

	.product-thumbs
	{
		width: 60px;
		height: 408px;
	}

	.product-images 
	{
		width: calc(100% - 75px);
	}

	.product-images__img
	{
		height: 375px;
	}

	.product-info__info .features__feature-name 
	{
		width: 180px;
	}

	.product-info__info 
	{
		width: calc(50% - 10px);
	}
	

	.informations__tabs-btn
	{
		padding-left: 8px;
		padding-right: 8px;
	}


	.contacts__info
	{
		padding: 25px;
		width: calc(68% - 10px);
	}

	.contacts__help 
	{
		width: calc(32% - 10px);
	}

	.contacts__location
	{
		padding: 25px;
	}

	.contacts__map
	{
		height: 450px;
	}


	.inner-action__grid 
	{
		width: calc(100% + 15px);
		margin-left: -15px;
	}

	.inner-action__item 
	{
		width: calc(100% / 3 - 15px);
		margin-top: 15px;
		margin-left: 15px;
		padding: 16px;
	}


	.section-cart__boxr
	{
		flex-wrap: wrap;
	}

	.section-cart__action
	{
		order: 2;
		margin-top: 9px;
		width: 100%;
	}


	.section-cart .section-cart-search
	{
		margin-left: 0;
		order: 1;
		max-width: 100%;
	}


	.cart-table th
	{
		font-size: 12px;
		padding-left: 10px;
	}

	.cart-table td
	{
		font-size: 12px;
		padding-left: 10px;
	}

	.cart-table__info 
	{
		width: 260px;
	}

	.cart-table__img 
	{
		width: 60px;
		height: 60px;
	}

	.cart-table__box 
	{
		width: calc(100% - 70px);
	}

	.cart-table__delete
	{
		padding-right: 10px;
		width: 44px;
	}


	.checkout__coll 
	{
		width: calc(100% - 360px);
	}

	.checkout__colr 
	{
		width: 340px;
	}

	.checkout__wrap,
	.checkout__form
	{
		margin-top: 20px;
	}

	.checkout-total__price
	{
		font-size: 30px;
	}


	.form__flex
	{
		margin-left: -10px;
	}

	.form__flex .form__line.form__line-small
	{
		width: calc(100%/3 - 10px);
		margin-left: 10px;
	}

	.form__flex .form__line.form__line-middle
	{
		width: calc(100%/2 - 10px);
		margin-left: 10px;
	}

	.form__flex .form__line
	{
		width: calc(100%/1 - 10px);
		margin-left: 10px;
	}
    /*------------
		commit
	------------*/
	.header__list-item + .header__list-item {
		margin-left: 40px;
	}

	.header-catalog__wrap{
		gap: 20px;
	}


	.main-slider__slide{
		padding: 30px;
		min-height: 320px;
	}

	.main-slider__box{
		max-width: 400px;
	}

	.main-cats__item-name{
		padding: 16px 16px 4px;
	}

	.main-cats__item {
		font-size: 14px;
	}


	.become-partner__coll{
		padding: 30px;
	}

	.become-partner__desc{
		font-size: 16px;
	}


	.product__price{
		font-size: 18px;
	}

	.product__oldprice{
		font-size: 18px;
	}

	.section-news__name{
		font-size: 18px;
	}

	.section-news__desc{
		font-size: 14px;
	}


	.accordion__open{
		font-size: 18px;
	}

	.section-faq__title{
		font-size: 18px;
	}


	.section-subscribe__box{
		min-height: 210px;
	}


	.footer__coll {
		width: 260px;
	}

	.footer__menu {
		gap: 20px 30px;
	}

	.footer__colr {
		width: 270px;
	}

	.footer__copy{
		font-size: 12px;
	}

	.footer__link{
		font-size: 12px;
	}

	.footer__creator{
		font-size: 12px;
	}
}