@media (max-width: 1319px)
{
	.header-catalog 
	{
		margin-left: 25px;
	}

	.header-catalog__open 
	{
		padding-right: 15px;
		padding-left: 40px;
	}

	.header-catalog__open-btn
	{
		left: 10px;
	}

	.header__search .header__search-input 
	{
		font-size: 14px;
		padding: 0 10px;
	}

	.header__search-submit 
	{
		font-size: 14px;
		line-height: 40px;
		padding: 0 18px;
	}

	.header__btn + .header__btn 
	{
		margin-left: 18px;
	}

	.header-catalog__wrap
	{
		gap: 30px;
	}


	.product-info__images
	{
		width: calc(55% - 10px);
	}

	.product-info__info 
	{
		width: calc(45% - 10px);
	}

	.product-info__info .features__feature-name
	{
		width: 190px;
	}


	.informations__data
	{
		padding: 30px;
	}

	.documentation__download
	{
		width: calc(100% / 5 - 20px);
	}


	.cart-table th
	{
		padding-left: 12px;
	}

	.cart-table td
	{
		padding-left: 12px;
	}

	.cart-table__info
	{
		width: 320px;
	}

	.cart-table__img
	{
		width: 68px;
		height: 68px;
	}

	.cart-table__box 
	{
		width: calc(100% - 78px);
	}

	.cart-table__delete
	{
		padding-right: 12px;
		width: 48px;
	}

	.cart-table__delete-btn,
	.cart-table__delete-btn svg
	{
		width: 24px;
		height: 24px;
	}


	.checkout__coll 
	{
		width: calc(100% - 400px);
	}

	.checkout__colr 
	{
		width: 370px;
	}
	

	/*------------
		commit
	------------*/
}