@media (max-width: 767px)
{
	.page-top 
	{
		padding-top: 15px;
		padding-bottom: 25px;
	}


	.header__top
	{
		padding-top: 7px;
		padding-bottom: 7px;
	}

	.header__top .header__logo a 
	{
		height: 30px;
	}

	.header__phone
	{
		font-size: 0;
	}

	.header__phone a
	{
		width: 24px;
		height: 24px;
		padding-left: 0;
	}

	.header__phone a::before
	{
		width: 24px;
		height: 24px;
	}

	.header__info-box 
	{
		padding: 10px;
	}

	.header-catalog__open
	{
		height: 40px;
		width: 40px;
	}

	.header__search-field
	{
		padding-top: 3px;
		padding-bottom: 3px;
	}

	.header__search .header__search-input 
	{
		height: 32px;
	}

	.header__search-submit 
	{
		height: 32px;
		line-height: 32px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.header-submenu
	{
		
	}


	.product-info__images
	{
		width: 100%;
		order: 2;

		margin-top: 20px;
	}

	.product-thumbs
	{
		display: none;
	}

	.product-images
	{
		width: 100%;
	}

	.product-images__slider .slider-pagination
	{
		justify-content: center;
	}

	.product-info__info
	{
		width: 100%;
		order: 1;

		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		align-content: flex-end;
		flex-wrap: wrap;
	}

	.product-info__title
	{
		order: 1;
		margin-top: 0;
	}

	.product-info__review
	{
		order: 2;
	}

	.product-info__code
	{
		order: 3;
		margin-top: 10px;
	}

	.product-info__feature
	{
		display: none;
	}


	.product-info__box.product-info__box-tablet
	{
		order: 3;
		margin-top: 20px;
	}

	.product-info__price
	{
		font-size: 18px;
	}

	.product-info__btns
	{
		display: none;
	}


	.informations
	{
		order: 4;
	}

	.informations._marg
	{
		margin-top: 20px;
	}

	.informations__tabs
	{
		display: none;
	}

	.informations .tab-content + .tab-content
	{	
		margin-top: 4px;
	}

	.informations .tab-content
	{
		visibility: visible;
		overflow: visible;
		height: auto;
		opacity: 1;

		border-radius: 8px;
		background: #fff;
		padding-top: 16px;
		padding-bottom: 16px;
	}

	.tabs-accord__open
	{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;

		font-size: 16px;
		line-height: normal;
		position: relative;
		padding: 0 56px 0 16px;
		cursor: pointer;
		font-weight: 600;

		min-height: 32px;
	}

	.tabs-accord__open::after
	{
		position: absolute;
		content: '';
		top: 0;
		right: 16px;

		display: block;

		width: 32px;
		height: 32px;

		border-radius: 50%;
		background: #E8E8EC;
	}

	.tabs-accord__open::before
	{
		position: absolute;
		content: '';
		top: 13px;
		right: 25px;

		display: block;

		width: 14px;
		height: 8px;
		z-index: 1;

		background: url(../images/ic_arrow_acord.svg) 50% no-repeat;
	}

	.informations .tab-content._active .tabs-accord__open::before
	{
		transform: rotate(180deg);
		top: 12px;
	}

	.tabs-accord__data
	{
		display: none;
	}

	.informations__data
	{
		padding: 10px 16px 0;
	}

	.features__feature:first-child 
	{
		padding-top: 5.5px;
		border-top: 1px solid #E8E8EC;
	}

	.documentation__download 
	{
		width: calc(100% / 3 - 20px);
	}

	.product-info__box
	{
		width: 100%;
		margin-top: 44px;
		order: 2;
	}

	.product-info__box + .product-info__box
	{
		margin-top: 44px;
	}

	.product-info__help
	{
		order: 1;
	}
    /*------------
		commit
	------------*/
	.cont{
		padding-left: 10px;
		padding-right: 10px;
	}

	._marg{
		margin-top: 44px;
	}

	.main-title {
		font-size: 20px;
	}

	.main-cats__flex {
		margin-left: -8px;
		gap: 8px 0;
	}

	.main-cats__item {
		width: calc(100% / 2 - 8px);
		margin-left: 8px;

		font-size: 14px;
		line-height: 1.25;
	}

	.become-partner__flex{
		flex-wrap: wrap;
		margin-top: 16px;
	}

	.become-partner__coll{
		width: 100%;
		order: 2;
		padding: 16px;
	}

	.become-partner__text{
		margin-top: 32px;
		font-size: 16px;
	}

	.become-partner__colr{
		width: 100%;
	}

	.become-partner .video{
		aspect-ratio: 1;
	}


	.become-partner__items{
		margin-top: 6px;
	}

	.become-partner__item {
		margin-top: 8px;
		width: calc(100% / 1 - 10px);
	}


	.products__slider{
		margin-top: 16px;
	}

	.main-action__slider{
		margin-top: 16px;
	}


	.swiper-overflow{
		overflow: visible;
	}

	.swiper-slide.product{
		width: 268px;
	}

	.slider-button-next,
	.slider-button-prev{
		display: none;
	}


	.main-action__slider{
		padding: 0 11px;
	}

	.main-action__slide{
		width: 332px;
	}


	.brands__flex {
		margin-top: 16px;
		margin-left: -8px;
		row-gap: 8px;
	}

	.brands__item {
		width: calc(100% / 3 - 8px);
		margin-left: 8px;
	}


	.section-news__flex {
		margin: -16px 0 0 -8px;
	}

	.section-news__item {
		margin-left: 8px;
		width: calc(100% / 2 - 8px);
	}

	
	.section-faq__flex{
		margin-top: 16px;
		flex-wrap: wrap;
	}

	.section-faq__colr{
		width: 100%;
	}


	.section-subscribe__box{
		min-height: 1px;
	}

	.agree-text{
		margin-top: 16px;
	}


	.product__price {
		font-size: 20px;
	}

	.product__old-price {
		font-size: 20px;
	}


	.footer__coll{
		width: 100%;
	}

	.footer__menu{
		width: 100%;
	}

	.footer__copy{
		width: 100%;
	}

	.footer__creator{
		width: 100%;
	}

	.footer__link{
		order: 0;
		width: 100%;
	}

	.form__submit{
		margin-top: 16px;
	}

	.footer .form__submit-btn{
		width: 100%;
	}

	.footer__info{
		margin-top: 16px;
	}
}