@media (max-width: 1400px)
{
	.contacts__item-adres
	{
		width: 340px;
	}

	.header-lk__search
	{
		width: 230px;
		margin-right: 10px;
	}

	.header-lk__links-wrap
	{
		justify-content: space-around;
	}

	.header-lk__item-link + .header-lk__item-link 
	{
		margin-left: 15px;
	}

	.header-lk__btns
	{
		margin-left: 10px;
	}

	.header-lk__btn-item + .header-lk__btn-item
	{
		margin-left: 10px;
	}
	
	
    /*------------
		commit
	------------*/
	.slider-button-prev{
		left: -10px;
	}

	.slider-button-next{
		right: -10px;
	}

	.main-cats__item{
		font-size: 16px;
	}

	.header__btn + .header__btn {
		margin-left: 20px;
	}

	.footer__coll {
		width: 332px;
	}

	.footer__colr {
		width: 320px;
	}
}