@media (max-width: 1023px)
{
	.wrap 
	{
		padding-bottom: 64px;
	}


	.header__top
	{
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.header__top .header__logo
	{
		display: block;
	}

	.header__adres
	{
		margin-left: 16px;
	}

	.header__list
	{
		display: none;
	}

	.header__phone
	{
		margin-left: auto;
	}


	.header__info-box
	{
		padding: 15px;
	}

	.header__info
	{
		margin-top: 10px;
	}

	.header__info .header__logo
	{
		display: none;
	}

	.header-catalog
	{
		margin-left: 0;
	}

	.header-catalog__open
	{
		font-size: 0;
		height: 46px;
		width: 46px;
		padding: 0;
	}

	.header-catalog__open-btn
	{
		left: 50%;
		margin-left: -12px;
	}
	
	.header__search
	{
		margin-right: 0;
		max-width: 100%;
		width: calc(100% - 56px);
	}

	.header__search-field
	{
		padding: 4px;
	}

	.header__search .header__search-input
	{
		height: 36px;
	}

	.header__search-submit
	{
		height: 36px;
		line-height: 36px;
	}

	.header__btns
	{
		position: fixed;
		z-index: 70;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 10px 15px;
		background: #fff;
		border-radius: 8px 8px 0 0;

		justify-content: space-around;
	}

	.header__btns::after
	{
		position: absolute;
		content: '';
		top: 2px;
		left: 2px;

		display: block;

		width: calc(100% - 4px);
		height: calc(100% - 2px);
		border-radius: 8px 8px 0 0;

		background: #E7E7E7;
	}

	.header__btn + .header__btn
	{
		margin-left: 0;
	}

	.header__btn
	{
		order: 2;
	}

	.header__btn-first-mob
	{
		order: 1;
	}


	.header-catalog__wrap
	{
		padding: 15px;
		
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 0;
	}

	.header-menu
	{
		width: calc(50% - 10px);
	}

	.header-catalog__submenu
	{
		width: calc(50% - 10px);
	}

	.header-catalog__banner
	{
		width: 392px;
		margin-top: 25px;
	}


	.breadcrumbs
    {
        overflow: hidden;
        overflow-x: auto;

        width: calc(100% + 80px);
        margin-right: -40px;
        margin-left: -40px;
        padding-right: 40px;
        padding-left: 40px;

        white-space: nowrap;
    }

    .breadcrumbs::-webkit-scrollbar
    {
        display: none;
    }


	.product-info__coll
	{
		width: 100%;
	}

	.product-info__colr
	{
		width: 100%;

		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
	}

	.product-info__box
	{
		width: calc(50% - 5px);
		margin-top: 10px;
	}

	.product-info__box:first-child
	{
		width: 100%;
	}


	.informations__data 
	{
		padding: 20px;
	}
    /*------------
		commit
	------------*/
	body{
		font-size: 14px;
	}

	._marg {
		margin-top: 50px;
	}

	.main-title{
		font-size: 24px;
	}

	.main-cats__flex{
		gap: 16px 0;
		margin-left: -16px;
	}

	.main-cats__item {
		width: calc(100% / 3 - 16px);
		margin-left: 16px;
	}

	.main-cats__item {
		font-size: 16px;
	}

	.become-partner__text {
		font-size: 14px;
		margin-top: 20px;
	}

	.become-partner__coll {
		padding: 20px;
	}

	.become-partner__flex{
		margin-top: 20px;
	}


	.become-partner__items{
		margin-top: 10px;
	}

	.become-partner__item{
		padding: 16px;
	}

	.become-partner__name{
		font-size: 14px;
	}

	.become-partner__desc{
		font-size: 12px;
	}

	
	.products__slider{
		margin-top: 20px;
	}


	.main-action__slider{
		margin-top: 20px;
	}


	.brands__flex{
		margin-top: 20px;
		margin-left: -16px;
		row-gap: 16px;
	}

	.brands__item {
		width: calc(100% / 4 - 16px);
		margin-left: 16px;
	}


	.section-news__flex {
		margin: -12px 0 0 -16px;
	}

	.section-news__item {
		margin-left: 16px;
		width: calc(100% / 3 - 16px);
	}
	
	.section-news__date{
		margin-top: 16px;
	}

	.section-news__name{
		font-size: 14px;
		margin-top: 10px;
	}

	.section-news__desc{
		font-size: 12px;
		margin-top: 4px;
	}

	.section-faq__flex{
		margin-top: 20px;
		gap: 16px;
	}

	.accordion__open {
		font-size: 16px;
		padding: 16px;
		gap: 16px;
		min-height: 64px;
	}

	.accordion__open-arrow{
		width: 32px;
		height: 32px;
	}

	.accordion__data{
		padding: 0 16px 16px;
	}

	.section-faq__colr {
		width: 32%;
		padding: 16px;
	}

	.section-faq__title {
		font-size: 16px;
	}

	/* .section-faq__colr{
		width: 100%;
	} */

	.section-subscribe__bg{
		padding: 20px;
	}

	.section-subscribe__box{
		min-height: 170px;
	}


	.footer{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.footer__coll{
		width: calc(44% - 16px);
	}

	.footer__menu{
		width: calc(56% - 16px);

		gap: 32px 24px;
	}

	.footer__menu-col{
		width: calc(50% - 12px);
	}

	.footer__colr{
		width: 100%;
	}

	.footer__bot{
		padding-top: 31px;
		margin-top: 32px;
	}

	.footer__copy{
		width: calc(50% - 10px);
	}

	.footer__creator{
		width: calc(50% - 10px);
	}

	.footer__link{
		order: 2;
		width: calc(50% - 10px);
	}
}